:root {
  --btn-bg: #5044e5;
  --tw-gradient-from: #5044e5;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 15px 50px;
  max-width: 1150px;
}

.navbar {
  display: flex;
}

.ul, .ul>li>a{
  display: flex;
  margin: 0 0 0 15px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.btn {
 all: unset;
 background-color: var(--btn-bg);
 color: white;
 padding: 8px 20px;
 border-radius: 50px;
 margin: 0 0 0 20px;
}

.moon {
  all: unset;
  border-radius: 100px;
  border: solid 1px;
  width: 34px;
  height: 34px;
  text-align: center;
}

.btndiv {
  display: flex;
}





