:root {
  --btn-bg: #5044e5;
  --tw-gradient-to: #4d8cea;
    --tw-gradient-from: #5044e5;
}

.group_div {
    display: flex;
    border: solid 1px;
    border-radius: 25px;
    width: 215px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin: 75px auto;
    margin-bottom: 50px;
}

.gr {
  background: linear-gradient(
    to right,
    var(--tw-gradient-from),
    var(--tw-gradient-to)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.info_hero {
  font-weight: 100;
  font-size: 35px;
  margin: 25px;
}

.info_two {
  font-size: 17px;
  margin: 25px;
}

.center {
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
  max-width: 85%;
}


.display {
    display: flex;
    width: 60%;
    margin: 0px auto;
    text-align: left;
    gap: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 30px;
}

.displayo {
   display: flex;
   max-width: 55%;
    margin: 0px auto;
    text-align: left;
    gap: 20px;
    margin-bottom: 50px;
    padding: 30px;
}

.sectwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto;
  text-align: center;
  max-width: 900px;
  font-size: 10px;
   gap: 25px;
   margin-bottom: 50px;
}


.imgclass {
  border-radius: 50%;
  width: 100%;
}

.cardform {
  display: flex;
  width: 200px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 7px;
  border-radius: 10px;
}

.divimg {
  width: 25%;
}

.form {
    max-width: 50%;
    margin: 0px auto;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 10px;
    align-items: left;
}

.input {
  border-radius: 10px;
  margin-top: 20px;
  justify-content: left;
  text-align: left;
}