:root {
  --btn-bg: #5044e5;
  --tw-gradient-from: #5044e5;
}

.group_div {
    display: flex;
    border: solid 1px;
    border-radius: 25px;
    width: 215px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin: 75px auto;
}

.center {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
  text-align: center;
}


.display {
    display: flex;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}

.sectwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto;
  text-align: center;
  max-width: 600px;
  font-size: small;
}



