.group_div {
    display: flex;
    border: solid 1px;
    border-radius: 25px;
    width: 215px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin: 75px auto;
}

.center {
    max-width: 600px;
    margin: 0px auto;
}

.images_companies {
    display: flex;
}

