@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
  --btn-bg: #5044e5;
  --tw-gradient-from: #5044e5;
  --tw-gradient-to: #4d8cea;
}

* {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.btn {
 all: unset;
 background-color: var(--btn-bg);
 color: white;
 padding: 8px 20px;
 border-radius: 50px;
 margin: 0 0 0 20px;
 cursor: pointer;
}

.body {
  background-image: url('./assets/bgImage1.png');
}



